// Color Variables
$primary-color: #191933;
$secondary-color: #082D0F;
$text-header: #17B890;
$text-color: #17B890;
$text-color-dark: #181D27;
$text-color-light: #9DC5BB;
$body-color: #2E6877;
$border-color: #2E6877;
$black: #000;
$white: #5E807F;
$gray: #5E807F;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
